h1{
    
    font-family: 'Kaushan Script', cursive;
    margin-top: 100px;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    background-color: black;
    border-style: double;
    border-color: blanchedalmond;
    border-width: 5px;
    padding: 10px;

}

h2{

    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    background-color: black;
    border-style: double;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 8%;
    padding: 10px;

}

p{

    color: white;
    text-align: center;
    font-size: 16px;
    background-color: black;
    border-style: double;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 10%;
    padding: 20px;

}


ul{

    color: white;
    text-align: left;
    font-size: 16px;
    background-color: black;
    border-style: double;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 10%;
    padding: 20px;


}



ol{

    color: white;
    text-align: center;
    font-size: 16px;
    background-color: black;
    border-style: double;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 10%;
    padding: 20px;
    list-style-position: inside;

}


div{

    width: 70%;
    margin: auto;

}